In [11]:
#hide
%load_ext autoreload
%autoreload 2
%config Completer.use_jedi = False  # workaround for buggy jedi

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Additional tests

In [12]:
#hide
from nbdev.showdoc import *
from ptypysql.utils import *
from ptypysql.core import *

## core

### format_where

In [13]:
assert_and_print(
    format_where(
        "WHERE brand = 'my_brand'"
    ), "WHERE brand = 'my_brand'"
)

WHERE brand = 'my_brand'

### format_sql

In [14]:
assert_and_print(
    format_sql("SELECT brand FROM table WHERE brand = 'my_brand'"),
"""
SELECT brand
FROM table
WHERE brand = 'my_brand'
""".strip()
)

SELECT brand
FROM table
WHERE brand = 'my_brand'

In [15]:
assert_and_print(
    format_sql(
"""SELECT var 
    FROM table_selection as a 
    LEFT JOIN table2 as b ON a.id = b.id 
    LEFT JOIN table3 as c ON a.id = c.id 
    ORDER BY 1
"""),
"""
SELECT var
FROM table_selection AS a
    LEFT JOIN table2 AS b
        ON a.id = b.id
    LEFT JOIN table3 AS c
        ON a.id = c.id
ORDER BY 1
""".strip()
)

SELECT var
FROM table_selection AS a
    LEFT JOIN table2 AS b
        ON a.id = b.id
    LEFT JOIN table3 AS c
        ON a.id = c.id
ORDER BY 1

## utils

### split_query

In [16]:
assert_and_print(
    split_query("select var from table_selection"),
    [{"string": "select var ", "comment": False, "quote": False, "select": True}, 
     {"string": "from table_selection", "comment": False, "quote": False, "select": False}]
)

[{'string': 'select var ', 'comment': False, 'quote': False, 'select': True}, {'string': 'from table_selection', 'comment': False, 'quote': False, 'select': False}]

In [17]:
#hide
from nbdev.export import notebook2script
notebook2script()

Converted 00_core.ipynb.
Converted 01_format_file.ipynb.
Converted 02_utils.ipynb.
Converted 03_validation.ipynb.
Converted 99_additional_tests.ipynb.
Converted index.ipynb.